@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading {
  position: relative;
  display: inline-block;
  padding: 10px; /* Optional: Add padding for better visibility */
  background-image: linear-gradient(
    45deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  color: transparent;
}

.heading::before {
  content: attr(
    data-text
  ); /* Use the content attribute to display the actual text */
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1; /* Move the shadow behind the text */
  text-shadow: 10px 10px 0 #fff; /* White shadow with an offset of 10px */
}
